body {
  font-family: Georgia, serif, fantasy;
  background-color: rgb(126,113,136);
  color: rgb(29,7,47)
}
#container {
  margin: auto;
  width: 25%;
}
#calculator {
  border: 3px solid rgb(74, 53, 83);
  padding: 20px;
  padding-top: 10px;
  background-color: rgb(169,158,178);
}
#price {
  border: 3px solid rgb(74, 53, 83);
  border-top: 0px;
  padding: 20px;
  font-size: 48px;
  background-color:rgb(217,205,225);
}
input[type=number]{
  width: 40px;
} 
hr {
  border-color:rgb(176, 147, 189);
}
option {
  background-color: rgb(185, 238, 193);
}
select {
  background-color: rgb(215, 253, 220);
}
#example {
  float: right;
  overflow: hidden;
  margin-right: -20px;
  margin-top: 10px;
}
#exampleText {
  float: right;
  overflow: hidden;
  margin-right: -278px;
  margin-top: 585px;
}
#bgImg {
  position: absolute;
  width: 400px;
}
#sketchImg {
  position: absolute;
  width: 400px;
}
#lineartImg {
  position: absolute;
  width: 400px;
}
#colorImg {
  position: absolute;
  width: 400px;
}
#cellShadeImg {
  position: absolute;
  width: 400px;
}
#softShadeImg {
  position: absolute;
  width: 400px;
}
